.box1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
.box1:hover{
    width: 200px;
    background-color: blueviolet;
    color: white;
    transition: ease;
    transition-duration: 1s;
}
.box2{
    width: 100px;
    height: 100px;
    background-color:brown;
    color: white;
}
.box2:hover{
    transform: rotate(30deg);
    transition: ease;
    transition-duration: 1s;
    border-radius: 50px;
}